.container-fluid{
	background: url('../../../public/home-slider-aquaculture-opinion.jpg') no-repeat center center;
    background-size: cover;
}

  
  .blur-background {
   
	background: url('../../../public/fish-farming-ideas.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
    min-height: 110vh;
  }
  .gauge{
    width: 100px;
  }
  .overlay-container {
    position: absolute;
    top: 35%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -33%);
    z-index: 2;
    min-height: 100vh;


  }
  @media only screen and (max-width: 768px) {
    /* Adjust positioning for mobile devices */
    .overlay-container {
      top: 70%; /* Adjust this value as needed */
      transform: translate(-50%, -30%); /* Center the container vertically */
    }
  }